<template>
  <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 mb-4">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold">{{ product.name }}</div>
        <div class="font-medium">{{ product.price }} USD</div>
        <p class="text-gray-700 text-base">{{ shortDescription(product.description) }}</p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#{{ product.category.name }}</span>
        <div class="font-semibold">{{ product.available ? 'In Store' : 'Sold Out' }}</div>
      </div>
    </div>
  </div>
</template>





<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Product',
  props: {
    product: {}
  },
  methods: {
    shortDescription: function (description) {
      let desc = description.substr(0, 80);
      return desc.substr(0, Math.min(desc.length, desc.lastIndexOf(" "))) + "  ..."

    }
  },

});
</script>

 
