<template>
  <div class="bg-white">
    <div>
      <!-- Mobile filter dialog -->
      <TransitionRoot as="template" :show="mobileFiltersOpen">
        <Dialog
          as="div"
          class="fixed inset-0 flex z-40 lg:hidden"
          @close="mobileFiltersOpen = false"
        >
          <TransitionChild
            as="template"
            enter="transition-opacity ease-linear duration-300"
            enter-from="opacity-0"
            enter-to="opacity-100"
            leave="transition-opacity ease-linear duration-300"
            leave-from="opacity-100"
            leave-to="opacity-0"
          >
            <DialogOverlay class="fixed inset-0 bg-black bg-opacity-25" />
          </TransitionChild>

          <TransitionChild
            as="template"
            enter="transition ease-in-out duration-300 transform"
            enter-from="translate-x-full"
            enter-to="translate-x-0"
            leave="transition ease-in-out duration-300 transform"
            leave-from="translate-x-0"
            leave-to="translate-x-full"
          >
            <div
              class="ml-auto relative max-w-xs w-full h-full bg-white shadow-xl py-4 pb-12 flex flex-col overflow-y-auto"
            >
              <div class="px-4 flex items-center justify-between">
                <h2 class="text-lg font-medium text-gray-900">Filters</h2>
                <button
                  type="button"
                  class="-mr-2 w-10 h-10 bg-white p-2 rounded-md flex items-center justify-center text-gray-400"
                  @click="mobileFiltersOpen = false"
                >
                  <span class="sr-only">Close menu</span>
                  <XIcon class="h-6 w-6" aria-hidden="true" />
                </button>
              </div>

              <!-- Filters -->
              <form class="mt-4 border-t border-gray-200">
                <Disclosure
                  as="div"
                  v-for="section in filters"
                  :key="section.id"
                  class="border-t border-gray-200 px-4 py-6"
                  v-slot="{ open }"
                >
                  <h3 class="-mx-2 -my-3 flow-root">
                    <DisclosureButton
                      class="px-2 py-3 bg-white w-full flex items-center justify-between text-gray-400 hover:text-gray-500"
                    >
                      <span class="font-medium text-gray-900">{{ section.name }}</span>
                      <span class="ml-6 flex items-center">
                        <PlusSmIcon v-if="!open" class="h-5 w-5" aria-hidden="true" />
                        <MinusSmIcon v-else class="h-5 w-5" aria-hidden="true" />
                      </span>
                    </DisclosureButton>
                  </h3>
                  <DisclosurePanel class="pt-6">
                    <div class="space-y-6">
                      <div
                        v-for="(option, optionIdx) in section.options"
                        :key="option.value"
                        class="flex items-center"
                      >
                        <input
                          @change="updateFilters(option)"
                          :id="`filter-mobile-${section.id}-${optionIdx}`"
                          :name="`${section.id}[]`"
                          :value="option.value"
                          type="checkbox"
                          :checked="option.checked"
                          class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500"
                        />
                        <label
                          :for="`filter-mobile-${section.id}-${optionIdx}`"
                          class="ml-3 min-w-0 flex-1 text-gray-500"
                        >{{ option.label }}</label>
                      </div>
                    </div>
                  </DisclosurePanel>
                </Disclosure>
              </form>
            </div>
          </TransitionChild>
        </Dialog>
      </TransitionRoot>

      <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div
          class="relative z-10 flex items-baseline justify-between pt-24 pb-6 border-b border-gray-200"
        >
          <h1 class="text-4xl font-extrabold tracking-tight text-gray-900">New Arrivals</h1>

          <div class="flex items-center">
            <Menu as="div" class="relative inline-block text-left">
              <div>
                <MenuButton
                  class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
                >
                  Sort
                  <ChevronDownIcon
                    class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500"
                    aria-hidden="true"
                  />
                </MenuButton>
              </div>

              <transition
                enter-active-class="transition ease-out duration-100"
                enter-from-class="transform opacity-0 scale-95"
                enter-to-class="transform opacity-100 scale-100"
                leave-active-class="transition ease-in duration-75"
                leave-from-class="transform opacity-100 scale-100"
                leave-to-class="transform opacity-0 scale-95"
              >
                <MenuItems
                  class="origin-top-right absolute right-0 mt-2 w-40 rounded-md shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                >
                  <div class="py-1">
                    <MenuItem v-for="option in sortOptions" :key="option.name" v-slot="{ active }">
                      <a
                        @click="updateFilters(option)"
                        :value="option.value"
                        :class="[option.current ? 'font-medium text-gray-900' : 'text-gray-500', active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm']"
                      >{{ option.name }}</a>
                    </MenuItem>
                  </div>
                </MenuItems>
              </transition>
            </Menu>

            <button
              type="button"
              class="p-2 -m-2 ml-4 sm:ml-6 text-gray-400 hover:text-gray-500 lg:hidden"
              @click="mobileFiltersOpen = true"
            >
              <span class="sr-only">Filters</span>
              <FilterIcon class="w-5 h-5" aria-hidden="true" />
            </button>
          </div>
        </div>
        <section aria-labelledby="products-heading" class="pt-6 pb-1">
          <h2 id="products-heading" class="sr-only">Products</h2>

          <div class="grid grid-cols-1 lg:grid-cols-4 gap-x-8 gap-y-10">
            <!-- Product grid -->
            <div class="lg:col-span-3">
              <div class="border-4 border-dashed border-gray-200 rounded-lg h-96 lg:h-full">
                <div class="flex flex-wrap">
                  <Product
                    v-for="product in filteredProducts()"
                    :key="product.id"
                    :product="product"
                  />
                </div>
                <!-- Pagination -->
                <div
                  class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6"
                >
                  <div class="flex-1 flex justify-between sm:hidden">
                    <a
                      @click="previousPage"
                      :class="links.prev == null ? 'opacity-50 cursor-not-allowed' : ''"
                      class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
                    >Previous</a>
                    <a
                      @click="nextPage"
                      :class="links.next == null ? 'opacity-50 cursor-not-allowed' : ''"
                      class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
                    >Next</a>
                  </div>
                  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                    <div>
                      <p class="text-sm text-gray-700">
                        Showing
                        {{ ' ' }}
                        <span
                          class="font-medium"
                        >{{ meta.from }}</span>
                        {{ ' ' }}
                        to
                        {{ ' ' }}
                        <span
                          class="font-medium"
                        >{{ meta.to }}</span>
                        {{ ' ' }}
                        of
                        {{ ' ' }}
                        <span
                          class="font-medium"
                        >{{ meta.of }}</span>
                        {{ ' ' }}
                        results
                      </p>
                    </div>
                    <div>
                      <nav
                        class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px"
                        aria-label="Pagination"
                      >
                        <a
                          @click="previousPage"
                          :class="links.prev == null ? 'opacity-50 cursor-not-allowed' : ''"
                          class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
                        >
                          <span class="sr-only">Previous</span>
                          <ChevronLeftIcon class="h-5 w-5" aria-hidden="true" />
                        </a>

                        <a
                          @click="nextPage"
                          :class="links.next == null ? 'opacity-50 cursor-not-allowed' : ''"
                          class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
                        >
                          <span class="sr-only">Next</span>
                          <ChevronRightIcon class="h-5 w-5" aria-hidden="true" />
                        </a>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Filters -->
            <form class="hidden lg:block">
              <Disclosure
                as="div"
                v-for="section in filters"
                :key="section.id"
                class="border-b border-gray-200 py-6"
                v-slot="{ open }"
              >
                <h3 class="-my-3 flow-root">
                  <DisclosureButton
                    class="py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400 hover:text-gray-500"
                  >
                    <span class="font-medium text-gray-900">{{ section.name }}</span>
                    <span class="ml-6 flex items-center">
                      <PlusSmIcon v-if="!open" class="h-5 w-5" aria-hidden="true" />
                      <MinusSmIcon v-else class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </DisclosureButton>
                </h3>
                <DisclosurePanel class="pt-6">
                  <div class="space-y-4">
                    <div
                      v-for="(option, optionIdx) in section.options"
                      :key="option.value"
                      class="flex items-center"
                    >
                      <input
                        @change="updateFilters(option)"
                        :id="`filter-${section.id}-${optionIdx}`"
                        :name="`${section.id}`"
                        :value="option.value"
                        type="checkbox"
                        :checked="option.checked"
                        class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500"
                      />
                      <label
                        :for="`filter-${section.id}-${optionIdx}`"
                        class="ml-3 text-sm text-gray-600"
                      >{{ option.label }}</label>
                    </div>
                  </div>
                </DisclosurePanel>
              </Disclosure>
            </form>
          </div>
        </section>
      </main>
    </div>
  </div>
</template>
 

 

<script>
import { ref } from 'vue'
import {
  Dialog,
  DialogOverlay,
  Disclosure,
  DisclosureButton,
  DisclosurePanel,
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  TransitionChild,
  TransitionRoot,
} from '@headlessui/vue'
import { XIcon } from '@heroicons/vue/outline'
import { ChevronDownIcon, FilterIcon, MinusSmIcon, PlusSmIcon, ChevronRightIcon, ChevronLeftIcon } from '@heroicons/vue/solid'
import Product from "./Product.vue";
import axios from 'axios';

const sortOptions = [
  { id: 'sort', name: 'Price: Low to High', value: 0, current: true },
  { id: 'sort', name: 'Price: High to Low', value: 1, current: false },
]


const filters = [
  {
    id: 'availability',
    name: 'Availability',
    options: [
      { id: 'availability', value: 0, label: 'In Store', checked: false },
    ],
  },
  {
    id: 'category',
    name: 'Category',
    options: [],
  },

]

export default {
  components: {
    Dialog,
    DialogOverlay,
    Disclosure,
    DisclosureButton,
    DisclosurePanel,
    Menu,
    MenuButton,
    MenuItem,
    MenuItems,
    TransitionChild,
    TransitionRoot,
    ChevronDownIcon,
    FilterIcon,
    MinusSmIcon,
    PlusSmIcon,
    XIcon,
    ChevronRightIcon,
    ChevronLeftIcon,
    Product
  },
  data: () => {
    return {
      products: [],
      categories: [],
      links: {},
      meta: {},
      dataFilters: {
        order: 0,
        categories: [],
        available: false
      },
      error: false
    }
  },

  methods: {
    updateFilters(option) {

      if (option.id == 'sort') {
        sortOptions[0].current = !sortOptions[0].current;
        sortOptions[1].current = !sortOptions[1].current;
        this.dataFilters.order = option.value
      }
      if (option.id == 'availability') {
        filters[0].options[0].checked = !filters[0].options[0].checked;
        this.dataFilters.available = filters[0].options[0].checked

      }
      if (option.id == 'category') {
        let categoryId = option.value
        filters[1].options.forEach(filter => {
          if (filter.value == categoryId) {
            filter.checked = !filter.checked
          }
        });
        if (option.checked) {
          this.dataFilters.categories.push(categoryId)
        } else {
          const index = this.dataFilters.categories.indexOf(categoryId);
          if (index > -1) {
            this.dataFilters.categories.splice(index, 1);
          }
        }

      }

    },
    filteredProducts() {
      let filteredProductsData = this.products.sort((a, b) => {
        if (this.dataFilters.order) {
          return parseFloat(b.price) - parseFloat(a.price)
        }
        return parseFloat(a.price) - parseFloat(b.price)
      });
      if (this.dataFilters.available) {
        filteredProductsData = filteredProductsData.filter(product => product.available)
      }
      if (this.dataFilters.categories.length != 0) {
        filteredProductsData = filteredProductsData.filter(product => this.dataFilters.categories.includes(product.category.id))
      }
      return filteredProductsData;
    },
    nextPage() {
      this.loadProducts(this.links.next, false)
    },
    previousPage() {

      this.loadProducts(this.links.prev, false)
    },
    generateFilters(data) {
      data.categories.forEach(category => {
        filters[1].options.push({ id: 'category', value: category.id, label: category.name, checked: false })
      });

    },
    loadProducts(endpoint, firstCall = true) {
      axios.get(endpoint)
        .then(function ({ data }) {
          const { data: { products, categories }, links, meta } = data;
          this.products = products;
          if (firstCall) {
            this.categories = categories;
            this.generateFilters(data.data);
          }
          this.links = links;
          this.meta = meta;
        }.bind(this))
        .catch(function (error) {
          this.error = error;
        }.bind(this));
    }
  },

  mounted() {
    this.$nextTick(function () {

      this.loadProducts(process.env.VUE_APP_ROOT_API + "/products");

    })
  },
  setup() {
    const mobileFiltersOpen = ref(false)

    return {
      sortOptions,
      filters,
      mobileFiltersOpen,
    }
  },
}
</script>

 

 
  
   