<template>
  <div class="bg-white">
    <Sidebar />
  </div>
</template>







<script>

import { defineComponent } from 'vue'
import Sidebar from './components/Sidebar.vue';

export default defineComponent({
  setup() { },
  components: {
    Sidebar,
  },
});
</script>

 